###### Editor debris ########

*.org
*~
¥#*

# spyder
.spyderproject/

# pycharm
**/.idea/

###### Python debris ########

*.pyc
*.so


###### Impl. specific debris ########

*.log

# tensorflow
*events.out.tfevents*

# waf/maf
.waf*
.lock*
**/build/
wscript*.py
sampling.cpp

###### Work routines debris ########

work
result/
.python-version